$main-color: #0a0e14;

.main_wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
}

.table_section{
    border-left: 1px solid white;
    .table{
        margin: auto;
        width: 50%;
        margin-top: 200px;
        color: white;
        border-collapse: collapse;
        text-align: center;
        td, th{
            padding: 10px;
            font-family: 'Montserrat';
            background: none;
        }
        th{
            font-size: 20px;
            // font-family: 'Montserrat';
        }
        .table_row{
            border-bottom: 1px solid white;
            transition: 0.5s all;
            &:hover {
                background-color: color.adjust($main-color, $lightness: 15%);
            }
        }
    }
}